// Generic
$primary-color: #CE6A6B;
$light-color: #EBAC96;
$dark-color: #4b1b50;
$alt-color-blue: #56A2BE;
$alt-color-green: #BED3C3;
$alt-color-yellow: #F7F6CF;
$darkest-color: black;
$lightest-color: white;
$gutter: 2rem;

// Global
$title-font: 'Pacifico', cursive;
$global-font: 'Oswald', sans-serif;
$global-font-weight: 300;
