@use '../../styles/vars';

.Header {
  width: 100%;
  padding: 1rem 0 0 0;
  // background-color: vars.$dark-color;
  // color: vars.$light-color;
  font-size: 1.5rem;

  &-title {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  &-result {
    margin: auto;
    background-color: pink;
    padding: 1rem;
    margin-top: 1rem;
    width: 100px;
    border-radius: 20px;  
  }
}
