@use '../../styles/vars';

.Header {
  height: 10%;
  width: 100%;
  padding-bottom: 2rem;

  &-title {
    font-family: vars.$title-font;
    font-size: 3.5rem;
    color: vars.$primary-color;
  }
}
