@use '../../styles/vars';

.FoundPairs {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  height: 15%;
  border-radius: 10px;
  padding: 1rem;
  background-color: vars.$alt-color-green;  
  min-height: 15%;
  width: 100%;
  color: vars.$dark-color;

  &-header {
    width: 100%;
    font-size: 1.5rem;
  }

  &-won {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 50px;
  }
}
