@use '../../styles/vars';

.FoundPairs {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  height: 20%;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(229, 152, 155, 0.5);  
  min-height: 15%;
  width: 100%;
  color: #6d6875;
  font-weight: bold;

  &-header {
    width: 100%;
  }

  &-won {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 50px;
  }
}
