@use '../../styles/vars';

.Message {
  border-radius: 10px;
  padding: 1rem;
  background-color: #6d6875;
  color: white;
  height: 10%;
  display: inline-block;
  justify-content: center;

  &-result {
    background-color: #e5989b;
    color: #6d6875;
    padding: 1rem;
    border-radius: 5px;
    display: inline-block;
  }
}
